
@import "~bootstrap/scss/bootstrap";
.App {
  min-height: 100vh;
  color: white;
  background:black;
  padding-top:0;
  margin-top:0;
}

// LandingPage
#LandingPage {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .App {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}







